<div class="container-fluid">
  <section class="mt-5">
    <div class="row justify-content-center">
      
      <!-- Card 1 -->
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card shadow-lg border-0 rounded">
          <div class="bg-image hover-overlay">
            <img src="../../../../assets/Card2.jpg" class="img-fluid rounded-top" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);"></div>
            </a>
          </div>
          <div class="card-body text-center">
            <h5 class="card-title text-uppercase font-weight-bold">CO2 Concentration</h5>
            <iframe title="CO2 Concentration" src="https://www.theworldcounts.com/embeds/counters/182?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14" style="border: none" height="100" width="100%"></iframe>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card shadow-lg border-0 rounded">
          <div class="bg-image hover-overlay">
            <img src="../../../../assets/Card3.jpg" class="img-fluid rounded-top" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);"></div>
            </a>
          </div>
          <div class="card-body text-center">
            <h5 class="card-title text-uppercase font-weight-bold">Forests Cut Down</h5>
            <iframe title="Hectares of forests cut down or burned" src="https://www.theworldcounts.com/embeds/counters/93?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14" style="border: none" height="100" width="100%"></iframe>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card shadow-lg border-0 rounded">
          <div class="bg-image hover-overlay">
            <img src="../../../../assets/Card4.jpg" class="img-fluid rounded-top" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);"></div>
            </a>
          </div>
          <div class="card-body text-center">
            <h5 class="card-title text-uppercase font-weight-bold">Solid Waste Generation</h5>
            <iframe title="Tons of solid waste generated" src="https://www.theworldcounts.com/embeds/counters/116?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14" style="border: none" height="100" width="100%"></iframe>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
