<div class="container-fluid">
  <section class="mt-1">
    <div class="row justify-content-around">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-overlay" >
            <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body test-center">
           
            <iframe title='CO2 Concentration' src='https://www.theworldcounts.com/embeds/counters/182?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14' style='border: none' height='100' width='300'></iframe> 
  
          </div>
        </div>
      </div>
  
      <!-- <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-overlay" >
            <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body test-center">
              <iframe title='Cost of not acting on climate change (US $)' src='https://www.theworldcounts.com/embeds/counters/98?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14' style='border: none' height='100' width='300'></iframe>
  
            
          </div>
        </div>
      </div> -->
  
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-overlay" >
            <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body test-center">
              <iframe title='Hectares of forests cut down or burned' src='https://www.theworldcounts.com/embeds/counters/93?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14' style='border: none' height='100' width='300'></iframe>
  
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay" >
              <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body test-center">
              <iframe title='Tons of solid waste generated' src='https://www.theworldcounts.com/embeds/counters/116?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14' style='border: none' height='100' width='300'></iframe>
            </div>
          </div>
        </div>
    </div>
  </section>
</div>

<!-- 
<iframe title='CO2 Concentration' src='https://www.theworldcounts.com/embeds/counters/182?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14' style='border: none' height='100' width='300'></iframe> 

<iframe title='Cost of not acting on climate change (US $)' src='https://www.theworldcounts.com/embeds/counters/98?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14' style='border: none' height='100' width='300'></iframe>

<iframe title='Hectares of forests cut down or burned' src='https://www.theworldcounts.com/embeds/counters/93?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14' style='border: none' height='100' width='300'></iframe>

<iframe title='Tons of solid waste generated' src='https://www.theworldcounts.com/embeds/counters/116?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14' style='border: none' height='100' width='300'></iframe> -->