<div class="container-fluid p-4 ">
    <div class="row m-3 justify-content-evenly">
      <div class="col-sm-3 mb-1">
       
        <button type="button" class=" themecolorbtn rounded-pill p-0">
          photo gallery
        </button>
      </div>
      <div class="col-sm-3 mb-1">
        <button type="button" class=" themecolorbtn rounded-pill p-0">
          video gallery
        </button>
      </div>
      <div class="col-sm-3 mb-1">
        <button type="button" class=" themecolorbtn rounded-pill p-0">
          Infographics
        </button>
      </div>
    </div>
  
    
      <div class="row p-4 justify-content-evenly">
        <div class="col-md-2">
          <img src="assets/datagov.jpeg" class="imgsizecont" alt="Placeholder Image" />
        </div>
        <div class="col-md-2 ">
          <img src="assets/government.jpeg" class="imgsizecont" alt="Placeholder Image" />
        </div>
        <div class="col-md-2">
          <img src="assets/mos2_2.png" class="imgsizecont" alt="Placeholder Image" />
        </div>
        <div class="col-md-2">
          <img src="assets/images.jpeg" class="imgsizecont" alt="Placeholder Image" />
        </div>
      </div>
    </div>
    <div class="row p-4">
      <div class="col text-center">
        <button class=" rounded-pill ">View more</button>
      </div>
    </div>
  
  