
<app-header></app-header>
<app-baner></app-baner>
<!-- <app-baner2></app-baner2> -->
<app-worldcount></app-worldcount>
<app-aboutus></app-aboutus>
<app-contactus></app-contactus>
<app-whatwedo></app-whatwedo>
<app-vision></app-vision>
<app-gallery></app-gallery>
<app-achievements></app-achievements>
<app-footer></app-footer>

<button class=" btn btn-primary m-1"(click)="goToPage('login')">login</button>

<button class=" btn btn-primary m-1"(click)="goToPage('signup')">signup</button>

<button class=" btn btn-primary m-1"(click)="goToPage('dashboard')">dashboard</button>

<button class=" btn btn-primary m-1"(click)="goToPage('defaultlayout')">Default page</button>