/* Hero Section */
/* Hero Section */
.hero {
    height: 100vh;
    background-image: url('../../../../assets/header (2).jpg');
    background-size: cover;
    background-position: center;
    /* position: relative; */
    animation: zoomInOut 10s ease-in-out infinite; /* Adding animation */
}

/* Zoom In and Out Animation */
@keyframes zoomInOut {
    0% {
        transform: scale(1); /* Initial state */
    }
    50% {
        transform: scale(1.1); /* Zoomed in */
    }
    100% {
        transform: scale(1); /* Zoom out back to normal */
    }
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.explore-btn {
    background-color: white;
    color: green;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
}

.explore-btn:hover {
    background-color: green;
    color: white;
}
