<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInputfirstName" placeholder="First Name">
                  <label for="floatingInput"> First Name</label>
                </div>
  
  
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInputLastName" placeholder="Last Name">
                  <label for="floatingInput"> Last Name</label>
                </div>
  
  
              </div>

            </div>
            
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="">
              <label for="floatingInput">Mobile No.</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingOTP" placeholder="OTP">
              <label for="floatingPassword">OTP</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword2" placeholder=" Confirm Password">
              <label for="floatingPassword"> Confirm Password</label>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Sign up</button>
              
            </div>
  
          </form>
        </div>
      </div>
    </div>

  </section>