.imgsizecont{
    height: 40vh; 
    width: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    border: 1px solid black; 
  }
  
  .themecolorbtn{
    height: 10vh; 
    width: 60vh; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    border: 1px solid black;
  
  }