<div class="accountright-wrap">
    <div class="accountright-head">
        <h3>View Edit profile</h3>
    </div>
    <div class="accountright-content viewdetails-content">
        <form >
            <div class="basic-details">
                <h5 class="text-red">Basic Details</h5>
                <div class="row fields-row">
                    <div class="field-wrap">
                        <label for="first_name2">First Name</label>
                        <input placeholder="First Name" [(ngModel)]="user.firstName" type="text" name="firstName" class="form-control" />
                    </div>
                    <div class="field-wrap">
                        <label for="singh2">Last Name</label>
                        <input placeholder="Last Name" type="text" [(ngModel)]="user.lastName" name="lastName" class="form-control" />
                    </div>
                </div>
                <div class="row fields-row">
                    <div class="field-wrap">
                        <label for="gender">Gender</label>
                        <select name="gender" class="form-control" [(ngModel)]="user.extraParams.gender" name="gender" id="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="field-wrap">
                        <label for="email">Email</label>
                        <input type="email" placeholder="" readonly [(ngModel)]="user.email" id="email" name="email" class="form-control"/>
                    </div>
                    <div class="field-wrap">
                        <label for="phone">Phone</label>
                        <input type="text" placeholder="" [(ngModel)]="user.mobileNo"  name="mobileNo" class="form-control"/>
                    </div>
                </div>
                
            </div>
            <div class="birth-details">
                <h5 class="text-red">Birth Details</h5>
                <div class="row fields-row">
                    <div class="field-wrap">
                        <label for="birth_place">Place of Birth</label>
                        <input placeholder="" type="text" [(ngModel)]="user.extraParams.birthplace" name="birthplace" class="form-control" id="birth_place"/>
                    </div>
                    <div class="field-wrap">
                        <label for="dob">Date of Birth</label>
                        <input type="date" id="dob" [(ngModel)]="user.extraParams.dob" name="dob" class="form-control"/>
                    </div>
                    <div class="field-wrap">
                        <label for="tob">Time of Birth</label>
                        <input type="time" id="tob" [(ngModel)]="user.extraParams.tob" name="tob" class="form-control"/>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn red-btn"  (click)="saveUserProfileInfo()">Save Changes</button>
        </form>
    </div>
</div>