
<div class="container-fluid bg-dark text-white">
    <div class="row align-items-center py-4">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="assets/leaf.jpg" alt="Leaf Image" class="img-fluid" style="max-width: 500px;">
        </div>
        <div class="col-md-6 ">
            <h2 class="display-4">About Us</h2>
            <h6 class="lead">Who we are</h6>
            <p class="">
                Himsols is committed to promoting environmental sustainability and combating the effects of climate change. Our mission is to raise awareness and engage with communities, governments, and businesses.We strive to create a greener and healthier world for future generations.
            </p>
            <a href="#" class="btn btn-primary">Learn More</a>
        </div>
    </div>
</div>