<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="loginForm" (ngSubmit)="authUser()">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" formControlName="username" maxlength="10" id="floatingInput" placeholder="Mobile No.">
              <label for="floatingInput">Mobile No.</label>
              <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-danger">
                <div *ngIf="loginForm.get('username')?.errors?.['required']">Username is required.</div>
                <div *ngIf="loginForm.get('username')?.errors?.['pattern']">Invalid Mobile format.</div>
                <div *ngIf="loginForm.get('username')?.errors?.['maxlength']">Username cannot exceed 10 characters.</div>
              </div>
            </div>
            
            <div class="form-floating">
              <input type="password" class="form-control" formControlName="password" maxlength="20" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
              <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
                <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
                <div *ngIf="loginForm.get('password')?.errors?.['maxlength']">Password cannot exceed 20 characters.</div>
              </div>
            </div>
          
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            </div>
          </form>
          
          

          
          
        </div>
      </div>
    </div>

  </section>