.about-section { background: #f8f8f8; }
.aboutcol-row { margin-top: 10px; }
.about-text img {
    width: 100%;
    max-width: 310px;
    margin: auto;
    display: block;
}
.about-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.test-left { text-align: right; }
.text-point h3 { margin-bottom: 15px; }

/*- Media Query start -*/
@media only screen and (max-width: 2000px){
    .about-text { gap: 30px; }

}
@media only screen and (max-width: 992px){
    .about-text { gap: 10px; }
    .text-point h3 { margin-bottom: 10px; }
    .aboutcol-row { margin-top: 0; }
    .about-section .sec-head p { margin-bottom: 20px; }

}
@media only screen and (max-width: 768px){
    .about-text { text-align: center !important; gap: 0; }
    .about-text img { margin-top: -5px; margin-bottom: 20px; }
    
}