<section class="about-section section-padding" id="vision">
    <div class="container-custom">
        <div class="sec-head mx-auto text-center">
            <h2 class="text-green">Our vision</h2>
            <p>Himsols believes that our actions today define our future. Let's not wait for others; let's do our part and act now to create a sustainable and environmentally conscious world.</p>
        </div>
    </div>

    <div class="container-custom px-0 py-0">
        <div class="row aboutcol-row">
            <div class="col-md-4 about-text text-center order-2 order-sm-2 order-md-1">
                <div class="text-point">
                    <h3 class="text-green">Why Choose Us ?</h3>
                    <p>Himsols is passionate about delivering Solutions today for a better tomorrow.</p>
                </div>
            </div>

            <!-- Image Section with Text Below -->
            <div class="col-md-4 about-text order-1 order-sm-1 order-md-2">
                <img src="../../../../assets/Vision.jpg" class="img-fluid" style="max-width: 450px; display: block; margin: 0 auto;">
                <div class="text-point mt-4">
                   
                </div>
            </div>

            <div class="col-md-4 about-text text-center order-3 order-sm-3 order-md-3">
                <div class="text-point">
                    <h3 class="text-green">Our Vision in Action</h3>
                    <p>We turn ideas into action, promoting sustainability through meaningful projects and collaborations.</p>
                </div>
            </div>
        </div>
    </div>
</section>
