<!--- About Section -->
<section class="about-section section-padding" id="vision">
    <div class="container-custom">
        <div class="sec-head mx-auto text-center">
            <h2 class="text-green">Our vision</h2>
            <p>Himsols believes that our actions today define our future. Let's not wait for others; let's do our part and act now to create a sustainable and environmentally conscious world.</p>
        </div>
    </div>
    <div class="container-custom px-0 py-0">
        <div class="row aboutcol-row">
            <div class="col-md-4 about-text test-left order-2 order-sm-2 order-md-1">
                
                <div class="text-point">
                    <h3 class="text-green">Why Choose Us ?</h3>
                    <p>Himsols is passioanate about delivering Solutions today for better tomorrow. </p>
                </div>
                
            </div>
            <div class="col-md-4 about-text order-1 order-sm-1 order-md-2">
                <img src="assets/leaf.jpg" style="max-width: 450px;">
            </div>
            <div class="col-md-4 about-text test-right order-3 order-sm-3 order-md-3">
                
                <div class="text-point">
                    <h3 class="text-green">What Motivates Us ?</h3>
                    <p>We are driven by the urgent need to address the environmental challenges facing our planet. Our passion for nature, commitment to sustainability, and belief in the power of community inspire us to take action. We aim to make a tangible difference by promoting eco-friendly practices, raising awareness, and collaborating with like-minded individuals and organizations. Every step towards sustainability brings us closer to a greener, healthier world for all.</p>
                </div>
            </div>
        </div>
    </div>
</section>