.custom-navbar {
    background-color: transparent; /* Make the background transparent */
    box-shadow: none; /* Optional: Remove the box shadow if needed */
}

.custom-navbar .navbar-nav .nav-link {
    color: white !important; /* Ensures nav links are visible on a transparent background */
}

.custom-navbar .navbar-toggler-icon {
    background-color: black /* Makes the toggler icon visible on transparent background */
}

.custom-navbar .navbar-brand img {
    filter: brightness(0) invert(1); /* Optional: Invert the logo if needed for better visibility */
}
navbar{
    z-index: 999;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
}